*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    font-family: Arial, sans-serif;
}

.container {
    height: 112px;
    background-color: #2d3e50;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100vw;
    top: 0;
}

.container h1 {
    color: white;
    font-size: 34px;
    margin-bottom: 22px;
}

.container ul li{
    display: inline-block;
    margin: 0 15px;
}

.container ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

.container ul li a:hover {
    text-decoration: underline;
}


/* ----------------------------------------------------------------- */

.banner {
    position: relative;
    margin-top: 112px;
}

.banner img {
    width: 100vw;
    height: 300px;
}

.banner .slogan {
    position: absolute;
    top: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 1000px;
    /* margin-left: 100px; */
    transform: translateX(50%);
    padding: 20px;
}

.banner .slogan h2 {
    color: white;
    font-size: 24px;
    padding: 20px 0;
    /* margin: 24px 0 24px 24px; */
}

.banner .slogan p {
    font-size: 16px;
    color: white;
    /* margin-top: 20px; */
    padding: 16px 0;
}